<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Logistics</title>
  <!-- Aquí puedes incluir tus hojas de estilo CSS y otros recursos -->
</head>
<body>
  <header>
    <!-- Aquí puedes incluir el encabezado común de tu sitio web, como el logo o la barra de navegación -->
  </header>

  <main>
    {% block content %}
    <!-- Este bloque se reemplazará con el contenido específico de cada página -->
    {% endblock %}
  </main>

  <footer>
    <!-- Aquí puedes incluir el pie de página común de tu sitio web, como información de contacto o enlaces adicionales -->
  </footer>
</body>
</html>
